<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS//style.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
    <script src="https://kit.fontawesome.com/edefe0e6e7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Samsung Galaxy Note 20 Ultra 5G</title>
</head>

<body>
    <div class="big-container">
        <div class="header">
            <div class="pure-g">
                <div class="pure-u-1-6">
                    <a href="main.html"><img src="apple_b.jfif" class="logo" alt="#"></a>
                    <br>
                    <p>Yeah Phone</p>
                </div>
                <div class="pure-u-2-5">
                    <form class="search-bar">
                        <input type="text" placeholder="Nhập tên sản phẩm cần tìm" name="search">
                        <button value="search" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="pure-u-1-12"><a href="contact-us.html" class="header-icon"><i class="fas fa-phone-alt"></i>&nbsp;Hotline<br>1800 5508</a></div>
                <div class="pure-u-1-8"><a href="contact-us.html" class="header-icon"><i class="fas fa-map-marker-alt"></i><br>Cửa hàng gần đây</a></div>
                <div class="pure-u-1-12"><a href="cart.html" class="header-icon"><i class="fas fa-shopping-cart"></i><br>Giỏ hàng</a></div>
                <div class="pure-u-1-8"><a href="login.html" class="header-icon" id="link-dn"><i id="icon-dn" class="fas fa-sign-in-alt"></i><br><span id="text-dn">Đăng nhập</span></a></div>
            </div>

            <div class="header-bar">
                <ul style="float: left; padding: 10px 20px; margin: 0;">
                    <li class="link-list"><a href="main.html"><i class="fas fa-home">&nbsp;</i>Trang chủ</a>&nbsp;/</li>
                    <li class="link-list"><a href="ss_note20.html" id="msp" name="ss_note20">Samsung Galaxy Note 20 Ultra 5G</a></li>
                </ul>
            </div>
        </div>

        <div class="main-content" style="overflow-x: visible;">
            <div class="product-container">
                <div class="pure-g">
                    <div class="pure-u-4-5">

                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <div class="product-img-main">
                                    <img src="Samsung/Ss_note20.png" alt="#">
                                </div>
                            </div>
                            <div class="pure-u-1-2">
                                <div class="product-info-main">
                                    <h2>Samsung Galaxy Note 20 Ultra 5G</h2>
                                    <h3>Đánh giá</h3>
                                    <fieldset style="width: 90%">
                                        <legend>
                                            <h4 style="margin: 0;">Chính sách ưu đãi</h4>
                                        </legend>
                                        <ul style="margin: 0;">
                                            <li style="margin: 5px 0;"><a>Giảm thêm 1% khi là thành viên</a></li>
                                            <li style="margin: 5px 0;"><a>Giảm 500k khi thanh toán bằng thẻ tín dụng</a></li>
                                            <li style="margin: 5px 0;"><a>Giảm 5% tối đa 500k khi thanh toán bằng ví điện tử</a></li>
                                        </ul>
                                    </fieldset>
                                    <h3 class="price" style="margin-top: 20px;">22.000.000 VNĐ</h3>
                                    <h5 class="old-price" style="margin: 0; display: inline;">32.990.000</h5>
                                    <h5 style="display: inline; font-weight: 200; font-size: 17px;">|</h5>
                                    <h5 style="display: inline; font-weight: 700; font-size: 17px;"> Giảm 33%</h5>
                                    <h5 style="display: inline; font-weight: 200; font-size: 15px;">(Tiết kiệm 10.990.000 VNĐ)</h5>
                                    <div class="pure-g" style="margin: 20px 0;">
                                        <div class="pure-u-7-24">
                                            <div class="quantity-control">
                                                <button type="button" class="down" id="down">-</button>
                                                <input type="number" class="quantity-input" value="1" name="quantity" style="text-align: right;" id="sl" required>
                                                <button type ="button" class="up" id="up">+</button>
                                            </div>
                                        </div>
                                        <div class="pure-u-6-24">
                                            <button class="buy-now">Mua Ngay</button>
                                        </div>
                                        <div class="pure-u-6-24">
                                            <button class="cart" type="button" id="them"><i class="fas fa-cart-arrow-down">&nbsp;</i>Giỏ hàng</button>
                                        </div>
                                        <div class="pure-u-3-24">
                                            <button class="wishlist"><i class="fas fa-heart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="poster-slide">
                            <div class="mySlides fade">
                                <img src="Poster/poster.png" class="poster-2" alt="#">
                            </div>
                            <div class="mySlides fade">
                                <img src="Poster/poster3.png" class="poster-2" alt="#">
                            </div>
                            <a class="prev-1" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next-1" onclick="plusSlides(1)">&#10095;</a>
                        </div>

                        <div class="specifications">
                            <!--<img src="">-->
                            <h2>Thông số kỹ thuật</h2>
                            <table class="tab-info">
                                <tr>
                                    <td class="info-1">Kích thước màn hình</td>
                                    <td>6.9 inches</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Công nghệ màn hình</td>
                                    <td>Dynamic AMOLED</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Camera sau</td>
                                    <td>108 MP, f/1.8, 26mm (wide), 1/1.33", 0.8µm, PDAF, Laser AF, OIS
                                        <br>12 MP, f/3.0, 103mm (periscope telephoto), 1.0µm, PDAF, OIS, 5x optical zoom, 50x hybrid zoom
                                        <br>12 MP, f/2.2, 13mm (ultrawide), 1/2.55", 1.4µm
                                </tr>
                                <tr>
                                    <td class="info-1">Camera trước</td>
                                    <td>10 MP, f/2.2, 26mm (wide), 1/3.2", 1.22µm, Dual Pixel PDAF</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Chipset</td>
                                    <td>Exynos 990 (7 nm+)</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Dung lượng RAM</td>
                                    <td>12 GB</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Bộ nhớ trong</td>
                                    <td>256 GB</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Pin</td>
                                    <td>4500 mAh</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Hệ điều hành</td>
                                    <td>Android 10, One UI 2.1</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Độ phân giải màn hình</td>
                                    <td>1440 x 3088 pixels (QHD+)</td>
                                </tr>
                                <tr>
                                    <td class="info-1">Kích thước</td>
                                    <td>164.8 x 77.2 x 8.1 mm</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="pure-u-1-5">
                        <div class="store">
                            <p style="padding-left: 10px; line-height: 30px; margin: 3px 0;">Người bán: Cửa hàng ABC</p>
                            <p style="padding-left: 10px; margin: 0; "><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 100% uy tín</p>
                        </div>
                        <div class="ad">
                            <h4 style="padding-left: 10px; line-height: 30px; margin: 10px 0;">Sản phẩm liên quan</h4>
                            <div class="ad1">
                                <div class="pure-g">
                                    <div class="pure-u-1-3">
                                        <img src="Samsung/Ss_note20.png" alt="#">
                                    </div>
                                    <div class="pure-u-2-3">
                                        <p style="margin: 0;">Samsung Galaxy Note 20 Ultra 5G</p>
                                        <p style="margin: 0; font-weight: 700;">22.000.000 VNĐ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ad1">
                                <div class="pure-g">
                                    <div class="pure-u-1-3">
                                        <img src="Samsung/Ss_Zflip.png" alt="">
                                    </div>
                                    <div class="pure-u-2-3">
                                        <p style="margin: 0;">Samsung Galaxy Z Flip3 5G</p>
                                        <p style="margin: 0; font-weight: 700;">23.990.000 VNĐ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ad1">
                                <div class="pure-g">
                                    <div class="pure-u-1-3">
                                        <img src="Samsung/Ss_s21.png" alt="#">
                                    </div>
                                    <div class="pure-u-2-3">
                                        <p style="margin: 0;">Samsung Galaxy S21 Ultra 5G</p>
                                        <p style="margin: 0; font-weight: 700;">25.200.000 VNĐ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ad1">
                                <div class="pure-g">
                                    <div class="pure-u-1-3">
                                        <img src="Samsung/Ss_a72.png" alt="#">
                                    </div>
                                    <div class="pure-u-2-3">
                                        <p style="margin: 0;">Samsung Galaxy A72</p>
                                        <p style="margin: 0; font-weight: 700;">10.100.000 VNĐ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ad1">
                                <div class="pure-g">
                                    <div class="pure-u-1-3">
                                        <img src="Samsung/Ss_s20.png" alt="#">
                                    </div>
                                    <div class="pure-u-2-3">
                                        <p style="margin: 0;">Samsung Galaxy S20 FE 256GB (Fan Edition)</p>
                                        <p style="margin: 0; font-weight: 700;">12.750.000 VNĐ</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
               <h2>Bình Luận Sản Phẩm</h2>
                <div id="load-cmt">
                    <!--View Cmt Cua SP-->
                </div>
                <div class="comment-box">
                    <h3>Bình Luận Của Bạn</h3>
                        <textarea placeholder="Nội dung: Tối thiểu 15 ký tự *" class="cmt-1" id="body-cmt"></textarea>
                    <div class="pure-g">
                        <div class="pure-u-2-3">
                        </div>
                        <div class="pure-u-1-3">
                            <button type="button" class="send-cmt" id="add-cmt"><i class="far fa-paper-plane">&nbsp;</i>Gửi bình luận</button>
                        </div>
                    </div>
                </div>
                <div class="product-review">
                    <h3>Đánh giá sản phẩm</h3>

                    <div class="pure-g">
                        <div class="pure-u-2-3">
                            <textarea placeholder="Nội dung: Tối thiểu 15 ký tự *" class="cmt-1"></textarea>
                        </div>
                        <div class="pure-u-1-3">
                            <div class="stars">
                                <p style="margin: 30px 0 0 10px;">Đánh giá của bạn:</p>
                                <form>
                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="container">
                    <div class="pure-g">
                        <div class="pure-u-2-5">
                            <img src="apple.jpg" class="footer-img" alt="#">
                            <div class="about-box">
                                <p class="footer-title">About us:</p>
                                <p id="about">Apple Inc. là một tập đoàn công nghệ đa quốc gia của Mỹ có trụ sở chính tại Cupertino, California, chuyên thiết kế, phát triển và bán thiết bị điện tử tiêu dùng, phần mềm máy tính và các dịch vụ trực tuyến. Nó được coi
                                    là một trong Năm công ty lớn của ngành công nghệ thông tin Hoa Kỳ, cùng với Amazon, Google, Microsoft và Facebook. Các dòng sản phẩm phần cứng của hãng bao gồm điện thoại thông minh iPhone, máy tính bảng iPad, máy tính
                                    xách tay Macbook, máy tính cá nhân Mac, máy nghe nhạc di động iPod, đồng hồ thông minh Apple Watch, máy phát đa phương tiện kỹ thuật số Apple TV, tai nghe không dây AirPods, tai nghe AirPods Max và loa thông minh HomePod.
                                    Phần mềm của Apple bao gồm hệ điều hành macOS, iOS, iPadOS, watchOS và tvOS, trình phát đa phương tiện iTunes, trình duyệt web Safari, mã nhận dạng nhạc Shazam, gói làm việc năng suất và sáng tạo iLife và iWork, cũng
                                    như các ứng dụng chuyên nghiệp như Final Cut Pro, Logic Pro và Xcode. Các dịch vụ trực tuyến của nó bao gồm iTunes Store, iOS App Store, Mac App Store, Apple Arcade, Apple Music, Apple TV +, iMessage và iCloud. Các
                                    dịch vụ khác bao gồm Apple Store, Genius Bar, AppleCare, Apple Pay, Apple Pay Cash và Apple Card.</p>
                            </div>
                        </div>
                        <div class="pure-u-1-5">
                            <p class="footer-title">Dành cho khách hàng</p>
                            <ul>
                                <li><a href="#" class="footer-link">Xuất khẩu</a></li>
                                <li><a href="#" class="footer-link">Bảo vệ người mua</a></li>
                                <li><a href="#" class="footer-link">Hướng dẫn mua hàng</a></li>
                                <li><a href="#" class="footer-link">Phương thức thanh toán</a></li>
                                <li><a href="#" class="footer-link">Chính sách đổi trả hàng</a></li>
                                <li><a href="#" class="footer-link">Câu hỏi thường gặp</a></li>
                                <li><a href="#" class="footer-link">Cách thức giao nhận</a></li>
                                <li><a href="#" class="footer-link">Chính sách giao dịch</a></li>
                                <li><a href="#" class="footer-link">Chính sách bảo mật</a></li>
                                <li><a href="#" class="footer-link">Chính sách đại lý</a></li>
                                <li><a href="#" class="footer-link">Chính sách giải quyết<br>khiếu nại</a></li>
                            </ul>
                        </div>
                        <div class="pure-u-1-5">
                            <p class="footer-title">Phương thức thanh toán</p>
                            <ul>
                                <li><a href="#" class="footer-link">VISA</a></li>
                                <li><a href="#" class="footer-link">Master Card</a></li>
                                <li><a href="#" class="footer-link">JCB</a></li>
                                <li><a href="#" class="footer-link">Momo</a></li>
                                <li><a href="#" class="footer-link">ZaloPay</a></li>
                            </ul>
                        </div>
                        <div class="pure-u-1-5">
                            <p class="footer-title">Các chi nhánh</p>
                            <ul>
                                <li><a href="#" class="footer-link">Hà Nội</a></li>
                                <li><a href="#" class="footer-link">Đà Nẵng</a></li>
                                <li><a href="#" class="footer-link">TP.HCM</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
    </script>
    <script type="text/javascript" src="sp.js"></script>
    <script type="text/javascript" src="binhluan.js"></script>
</body>

</html>